## Custom

/.cache
bin
build
docs/personal
build_tests
out
tests/googletest
compile_commands.json
gravwll_analisys

# Benchmarking
benchmarks/**/*.bench
benchmarks/**/*.data
benchmarks/**/*.data.old

# Gfx
*.spv
vk_layer_settings.txt

# Datasets
assets/datasets/*

# Config

config.h
config.conf
poll.py

## Standart

# Prerequisites
*.d

# Somehow we got jetbrians injection
.idea/
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
