## Custom

/.cache
bin
build
docs/personal
build_tests
out
tests/googletest
compile_commands.json
gravwll_analisys
sim/code/include/ctx/config.h

## Benchmarking
benchmarks/**/*.bench
benchmarks/**/*.data
benchmarks/**/*.data.old

## Standart
# Prerequisites
*.d

# Somehow we got jetbrians injection
.idea/
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
