## Custom

/.cache
/bash_scripts/*
bin/*
build/
docs/*
build_tests/
config/*
out/
tests/googletest
compile_commands.json
gravwll_analisys/

## Standart
# Prerequisites
*.d

# Somehow we got jetbrians injection
.idea/
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
